[package]
name = "alpha_vantage"
version = "0.5.0"
authors = [ "Saurav Sharma <appdroiddeveloper@gmail.com>" ]
homepage = "https://github.com/iamsauravsharma/alpha_vantage"
repository = "https://github.com/iamsauravsharma/alpha_vantage"
description = "Rust Wrapper/Crate built for AlphaVantage API"
license = "MIT"
readme = "README.MD"
edition = "2018"
keywords = [
    "alphavantage",
    "currency",
    "finance",
    "stock",
    "exchange"
]
categories = [
    "api-bindings",
    "web-programming::http-client"
]

[dependencies]
async-trait = "0.1.47"
reqwest = { version = "0.11.1", optional = true }
serde = { version = "1.0.124", features = [ "derive" ] }
serde_json = "1.0.64"
surf = { version = "2.2.0", optional = true }
thiserror = "1.0.24"

[dev-dependencies]
async-std = { version = "1.9.0", features = [ "attributes" ] }

[features]
default = [ "surf-client" ]
reqwest-client = [ "reqwest" ]
surf-client = [ "surf" ]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = [ "--cfg", "docsrs" ]
