[package]
name = "alpha_vantage"
version = "0.5.0"
authors = ["Saurav Sharma <appdroiddeveloper@gmail.com>"]
homepage = "https://github.com/iamsauravsharma/alpha_vantage"
repository = "https://github.com/iamsauravsharma/alpha_vantage"
description = "Rust Wrapper/Crate built for AlphaVantage API"
license = "MIT"
readme = "README.MD"
edition = "2018"
keywords = ["alphavantage","currency","finance","stock","exchange"]
categories = ["api-bindings","web-programming::http-client"]

[dependencies]
reqwest = {version = "0.10.7"}
serde = {version = "1.0.114", features = ["derive"]}
serde_json = "1.0.57"
thiserror = "1.0.20"

[dev-dependencies]
tokio = {version = "0.2.22", features = ["macros"]}

[features]
vendored = ["reqwest/native-tls-vendored"]
blocking = ["reqwest/blocking"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
