[package]
name = "alpha_vantage"
version = "0.2.0"
authors = ["Saurav Sharma <appdroiddeveloper@gmail.com>"]
homepage = "https://github.com/iamsauravsharma/alpha_vantage"
repository = "https://github.com/iamsauravsharma/alpha_vantage"
description="Rust Wrapper/Crate built for AlphaVantage API"
license="MIT"
readme = "README.MD"
edition = "2018"
keywords = ["alphavantage","currency","finance","stock","exchange"]
categories = ["api-bindings","web-programming::http-client"]

[dependencies]
reqwest="0.9.22"
serde="1.0.101"
serde_json="1.0.41"
serde_derive="1.0.101"
